body {
	margin:0;
	}

#information-text{

	width: 200px;
	height: 100px;
	padding: 5px;
	zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.9;
	text-align: center;
	position: absolute;
	top: 100px;
	left: 50px;
	background-color: #000;
	color: #F00;
	font-size: 30px;
}

#timer-container {
	font-family:"Arial";
	font-size: 25px;
	margin-left:40px;
	}